body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1092px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9258 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u9259 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9260 {
  position:absolute;
  left:717px;
  top:100px;
  width:375px;
  height:812px;
}
#u9261 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
