body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9268 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u9269 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9270 {
  position:absolute;
  left:532px;
  top:100px;
  width:375px;
  height:812px;
}
#u9271 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
