body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9229 {
  position:absolute;
  left:3391px;
  top:100px;
  width:375px;
  height:812px;
}
#u9230 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9231 {
  position:absolute;
  left:2294px;
  top:100px;
  width:375px;
  height:812px;
}
#u9232 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9233 {
  position:absolute;
  left:2842px;
  top:100px;
  width:375px;
  height:812px;
}
#u9234 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9235 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u9236 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9237 {
  position:absolute;
  left:1745px;
  top:100px;
  width:375px;
  height:812px;
}
#u9238 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9239 {
  position:absolute;
  left:3939px;
  top:100px;
  width:375px;
  height:812px;
}
#u9240 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1746px;
}
#u9241 {
  position:absolute;
  left:1197px;
  top:100px;
  width:375px;
  height:1746px;
}
#u9242 {
  position:absolute;
  left:2px;
  top:865px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9243 {
  position:absolute;
  left:648px;
  top:100px;
  width:375px;
  height:812px;
}
#u9244 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
