body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4909 {
  position:absolute;
  left:3391px;
  top:100px;
  width:375px;
  height:812px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4911 {
  position:absolute;
  left:2294px;
  top:100px;
  width:375px;
  height:812px;
}
#u4912 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4913 {
  position:absolute;
  left:2842px;
  top:100px;
  width:375px;
  height:812px;
}
#u4914 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4915 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u4916 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4917 {
  position:absolute;
  left:1745px;
  top:100px;
  width:375px;
  height:812px;
}
#u4918 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4919 {
  position:absolute;
  left:3939px;
  top:100px;
  width:375px;
  height:812px;
}
#u4920 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1746px;
}
#u4921 {
  position:absolute;
  left:1197px;
  top:100px;
  width:375px;
  height:1746px;
}
#u4922 {
  position:absolute;
  left:2px;
  top:865px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u4923 {
  position:absolute;
  left:648px;
  top:100px;
  width:375px;
  height:812px;
}
#u4924 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
