body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:831px;
}
#u9306 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:831px;
}
#u9307 {
  position:absolute;
  left:2px;
  top:408px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
