body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u326 {
  position:absolute;
  left:1156px;
  top:100px;
  width:375px;
  height:812px;
}
#u327 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u328 {
  position:absolute;
  left:628px;
  top:100px;
  width:375px;
  height:812px;
}
#u329 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u330 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u331 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
