body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7030 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7032 {
  position:absolute;
  left:556px;
  top:100px;
  width:375px;
  height:812px;
}
#u7033 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7034 {
  position:absolute;
  left:1012px;
  top:100px;
  width:375px;
  height:812px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7036 {
  position:absolute;
  left:1468px;
  top:100px;
  width:375px;
  height:812px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
