body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7038 {
  position:absolute;
  left:629px;
  top:100px;
  width:375px;
  height:812px;
}
#u7039 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7040 {
  position:absolute;
  left:1159px;
  top:100px;
  width:375px;
  height:812px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7042 {
  position:absolute;
  left:1688px;
  top:100px;
  width:375px;
  height:812px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7044 {
  position:absolute;
  left:2218px;
  top:100px;
  width:375px;
  height:812px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7046 {
  position:absolute;
  left:3277px;
  top:100px;
  width:375px;
  height:812px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7048 {
  position:absolute;
  left:4336px;
  top:100px;
  width:375px;
  height:812px;
}
#u7049 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7050 {
  position:absolute;
  left:4865px;
  top:100px;
  width:375px;
  height:812px;
}
#u7051 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7052 {
  position:absolute;
  left:2747px;
  top:100px;
  width:375px;
  height:812px;
}
#u7053 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7054 {
  position:absolute;
  left:3806px;
  top:100px;
  width:375px;
  height:812px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7056 {
  position:absolute;
  left:5395px;
  top:100px;
  width:375px;
  height:812px;
}
#u7057 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u7058 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
