body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9334 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u9335 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9336 {
  position:absolute;
  left:556px;
  top:100px;
  width:375px;
  height:812px;
}
#u9337 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9338 {
  position:absolute;
  left:1012px;
  top:100px;
  width:375px;
  height:812px;
}
#u9339 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9340 {
  position:absolute;
  left:1468px;
  top:100px;
  width:375px;
  height:812px;
}
#u9341 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
