body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1466px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9280 {
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u9281 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9282 {
  position:absolute;
  left:595px;
  top:100px;
  width:375px;
  height:812px;
}
#u9283 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u9284 {
  position:absolute;
  left:1091px;
  top:100px;
  width:375px;
  height:812px;
}
#u9285 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
